@model IEnumerable<AnaokuluKatmanli.Model.Models.Dersler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
           @* <th>
                @Html.DisplayNameFor(model => model.Ogretmenler)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.OgretmenID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DersAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YasGrubu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Konu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.Ogretmenler.OgretmenAdi)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.OgretmenID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DersAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YasGrubu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DersID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DersID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DersID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
