<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Limon Ağacı</title>



    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/tema/css/bootstrap.css" />
    <!-- progress barstle -->
    <link rel="stylesheet" href="~/tema/css/css-circular-prog-bar.css">
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
    <!-- font wesome stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="~/tema/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/tema/css/responsive.css" rel="stylesheet" />
    <img src="~/tema/images/admission.png" />




    <link rel="stylesheet" href="~/tema/css/css-circular-prog-bar.css">


</head>

<body>
    <div class="top_container">
        <!-- header section strats -->
        @*<header class="header_section">
        <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
        <span>
        Limon Ağacı 🍋
        </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
        <ul class="navbar-nav  ">
        <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Ogretmenler")"> Öğretmenler <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
        <a class="nav-link" href="@Url.Action("Index","Ogrenci")"> Öğrenciler </a>
        </li>

        <li class="nav-item ">
        <a class="nav-link" href="@Url.Action("Index","Dersler")"> Dersler </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Etkinlikler")"> Etkinlikler </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login","Home")"> Oturum Aç</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="contact.html">İletişim </a>
        </li>

        </ul>
        </div>


        </nav>
        </div>
        </header>*@
        <section class="hero_section ">
            <div class="hero-container container">
                <div class="hero_detail-box">
                    <h1>
                        Neden
                        Limon Ağacı
                        Anaokulu ?
                    </h1>
                    <p>
                        Seçkin ve deneyimli öğretmenlerimiz, çocuklarımızın sorgulama ve değerlendirme yapabilmesini teşvik eden eğitim metodumuz, profesyonel eğitmenler eşliğinde yapılan branş derslerimiz, tam zamanlı olarak çocuklarımızı gözlemleyen ve onlara yol gösteren pedegogumuz, kendi mutfağımızda taze taze pişen yemeklerimiz ile sağlıklı ve doyurucu beslenme programımız ile çocuklarımız için varız.

                        Limon Ağacı Anaokulunda gözünüz arkada kalmasın...
                    </p>
                    <div class="hero_btn-continer">
                        <a href="" class="call_to-btn btn_white-border">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="hero_img-container">
                    <div>
                        <img src="~/tema/images/hero.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end header section -->

    <div class="common_style">

        <!-- about section -->
        <section class="about_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_img-container">
                            <img src="~/tema/images/about.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_detail-box">
                            <h3>
                                Okulumuz Hakkında
                            </h3>
                            <p>
                                Yaratıcı, Mutlu ve Geleceğe Bakan
                                Ataşehir Limon Ağacı Anaokulu güleryüzlü ve sevgi dolu bir ortamda modern eğitim olanakları ve profesyonel eğitim kadrosuyla her çocuğun ayrı ayrı çok özel ve değerli olduğu bilinciyle yetiştirilmelerini sağlar.

                            </p>
                            <div class="">
                                <a href="" class="call_to-btn btn_white-border">
                                    Devamını Oku
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- end about section -->
        <!-- admission section -->
        <section class="admission_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="admission_detail-box">
                            <h3>
                                Eğitim Anlayaşımız
                            </h3>
                            <p>
                                Eğitim sistemimiz; çocuklarımızın çift dil eğitim ile gelişimini desteklemektedir.<br />
                                Her sınıfta aynı anda 2 öğretmen ve özel ingilizce eğitim setleri ile çift anadil uygulanmaktadır.</> <br />
                                Kurumumuz beslenme dostu okul olarak ""şekersiz beslenme"" modeli uygulanmaktadır. </>
                            </p>
                            <div class="">
                                <a href="" class="call_to-btn btn_white-border">
                                    Devamını Oku
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="admission_img-container">
                            <img src="~/tema/images/admission.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- end admission section -->
        <!-- why section -->
        <section class="why_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="why_img-container">
                            <img src="~/tema/images/why.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="why_detail-box">
                            <h3>
                                Sınıflarımız
                            </h3>
                            <p>
                            <p>
                                3 Ve Üzeri Yaş Grupları <br />
                                Bu dönem, “Sorgu çağı”dır.Sorularına doğru cevap bulmaları önemlidir.
                                Dil (Konuşma) Gelişimi Fiziksel Gelişim (Psikomotor) Öğrenme Yaklaşımları ve öğrenmeye hazırlama Oyun .
                                </>
                            <p>
                                4 Ve Üzeri Yaş Grupları <br />
                                Hayal ve gerçeği ayırt etmekte zorlandığı merak ve keşfetme dönemidir..
                                Bilişsel Gelişim Fiziksel Gelişim (Psikomotor) Sosyal-Duygusal Gelişim Dil (Konuşma) Gelişimi Çoklu zeka alanları Oyun
                            </p>
                            </p>

                            <div class="">
                                <a href="" class="call_to-btn btn_white-border">
                                    Devamını Oku
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- end why section -->
        <!-- determine section -->
        <section class="determine_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="determine_detail-box">
                            <h3>
                                Workshoplarımız
                            </h3>
                            <p>

                                Siz değerli velilerimize çocuklarımız için özel oluşturduğumuz workshopları aşağıda sunarız

                            <p> Görsel Sanat ve Tasarım</p>
                            <p> Fen-Matematik ve Bilim-Teknoloji </p>
                            <p> Algı Kodlama Dikkat Geliştirme </p>
                            <p> Dil öğrenme geliştirme (İngilizce) </p>
                            <p>  Psiko-Drama </p>
                            <p>  Mutfak </p>


                            </p>
                            <div class="">
                                <a href="" class="call_to-btn btn_white-border">
                                    Devamını Oku
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="determine_img-container">
                            <img src="~/tema/images/determine.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- end determine section -->

    </div>


    <!-- client section -->
    <section class="client_section layout_padding">
        <h2 class="">
            Veli Memnuniyeti
        </h2>
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="client_img-box">
                                    <img src="~/tema/images/1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="client_detail-box">
                                    <h5>
                                        Selin.A
                                    </h5>
                                    <p>

                                        “Limon Ağacı Anaokulu çocuğunuzu gözünüz kapalı emanet edebileceğiniz bir okul. Okul içinde yapılan etkinliklerin çocuğuma farklı bir bakış açısı kattığını düşünüyorum. Gözüm kapalı tavsiye ederim bu okulu özellikle akademik kadrosu çok başarılı.”

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="client_img-box">
                                    <img src="~/tema/images/1.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="client_detail-box">
                                    <h5>
                                        Hilal.Ç
                                    </h5>
                                    <p>

                                        “Gerçekten ilgili bir kadro sadece öğretmen değil aynı zamanda bir aile şefkatiyle yaklaşan bir kurumdan ziyade adeta bir yuva."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="client_img-box">
                                    <img src="~/tema/images/1.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="client_detail-box">
                                    <h5>
                                        Tülay.G
                                    </h5>
                                    <p>

                                        “Evden ayrı güvenli bir alan şefkat dolu bir kucak arıyorsanız kesinlikle Limon Ağacı... Akademik anlamda da profesyonel kadorsuyla birebir ilgi ve alakayla çocuklarımızın yaşam becerilerini de kazandırıp hayata hazırlıyorlar.
                                        “
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- end client section -->
    <!-- contact section -->

    <section class="contact_section ">

        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center d-md-block">
                        <h2>
                            Bize Ulaşın
                        </h2>
                    </div>
                    <form action="">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Ad/Soyad">
                                </div>
                                <div>
                                    <input type="email" placeholder="Email">
                                </div>
                                <div>
                                    <input type="text" placeholder="Telefon Numarası">
                                </div>
                                <div class="mt-5">
                                    <input type="text" placeholder="İleti">
                                </div>
                                <div class="mt-5">
                                    <button type="submit">
                                        Gönder
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <div class="contact_img-box">
                        <img src="~/tema/images/students.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->
    @*<section class="info_section layout_padding-top">
    <div class="info_logo-box">
    <h2>
    Limon Ağacı 🍋
    </h2>
    </div>
    <div class="container layout_padding2">
    <div class="row">
    <div class="col-md-3">
    <h5>
    Site Haritası
    </h5>
    <p>
    Öğretmenler <br />
    Öğrenciler <br />
    Dersler <br />
    Etkinlikler <br />
    </p>
    </div>
    <div class="col-md-3">
    <h5>

    Bizi Arayın
    </h5>
    <ul>
    <li>
    <a href="">

    0210 459 79 78

    </li>
    <li>
    <a href="">

    </a>
    </li>
    <li>
    <a href="">

    </a>
    </li>
    </ul>
    </div>
    <div class="col-md-3">
    <h5>
    İletişim Bilgileri
    </h5>
    <p>
    Anadolu Yakası <br />
    Ataşehir/İstanbul <br />
    </p>
    </div>
    <div class="col-md-3">

    <div class="subscribe_container">
    <h5>
    Bülten
    </h5>
    <div class="form_container">
    <form action="">
    <input type="email" placeholder="Enter your email">
    <button type="submit">
    Abone Olun
    </button>
    </form>
    </div>
    </div>

    </div>
    </div>
    </div>
    <div class="container">
    <div class="social_container">

    <div class="social-box">
    <a href="">
    <img src="~/tema/images/fb.png" alt="">
    </a>

    <a href="">
    <img src="~/tema/images/twitter.png" alt="">
    </a>
    <a href="">
    <img src="~/tema/images/linkedin.png" alt="">
    </a>
    <a href="">
    <img src="~/tema/images/instagram.png" alt="">
    </a>
    </div>
    </div>
    </div>
    </section>*@

    <!-- footer section -->
    <!--<section class="container-fluid footer_section">
        <p>
            Copyright &copy; 2019 All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </section>-->
    <!-- footer section -->
    <!--<script type="text/javascript" src="~/tema/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/tema/js/bootstrap.js"></script>-->


</body>

</html>