@model IEnumerable<AnaokuluKatmanli.Model.Models.Ogrenciler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OgretmenID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OgrenciAdsoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OgretmenID)
                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.OgrenciAdsoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OgrenciID">Edit</a> |
               @* <a asp-action="Details" asp-route-id="@item.OgrenciID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.OgrenciID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
